<template>
  <div>
    <br /><br />
    <b-container class="bv-example-row bv-example-row-flex-cols">
      <b-row>
        <b-col class="d-flex justify-content-start" cols="5" align-self="end"
          ><h1>จัดการข้อมูล Admin หน่วยงาน</h1></b-col
        >

        <b-col cols="12" md="5" align="right"
                  justify="center"
          ><b-form-input placeholder="ค้นหา"></b-form-input
        ></b-col>
        <b-col md="2" align="right"
                  justify="center"
          ><b-button variant="outline-success" type="submit" class="m-1"
            >ค้นหา</b-button
          >
          <b-button
            @click="editProduct(item)"
            variant="outline-primary"
            class="m-1"
            >เพิ่ม</b-button
          >
        </b-col>
      </b-row>
    </b-container>

    <br /><br />
    <!-- <div class="text-start">
      <b-table striped hover :items="items">

      </b-table>
    </div> -->

    <b-table striped hover :items="items" :fields="fields">
      <template #cell(operators)="{ item }">
        <b-button
          @click="editProduct(item)"
          variant="outline-success"
          class="m-1"
          >แก้ไข</b-button
        >
        <b-button
          @click="editProduct(item)"
          variant="outline-danger"
          class="m-1"
          >ลบ</b-button
        >
      </template>
    </b-table>
  </div>
</template>
<script>
export default {
  data () {
    return {
      items: [
        {
          id: 1,
          codeBuild: 'IF',
          nameBuild: 'อาคารวิทยาการสารสนเทศ',
          branch: 'บางแสน',
          institution: 'วิทยาการสารสนเทศ',
          name: 'นายกร โชติ',
          tel: '081-1223344'
        },
        {
          id: 2,
          codeBuild: 'IE',
          nameBuild: 'อาคารวิศวกรรมภาคอุสาหกรรม',
          branch: 'บางแสน',
          institution: 'วิทยาศาสตร์',
          name: 'นางเมษา มาตี',
          tel: '081-9878898'
        }
      ],
      fields: [
        { key: 'id', label: 'ลำดับ' },
        // { key: 'codeBuild', label: 'รหัส' },
        { key: 'institution', label: 'หน่วยงาน' },
        // { key: 'nameBuild', label: 'ชื่อตึก' },
        // { key: 'branch', label: 'สาขา' },
        { key: 'name', label: 'ชื่อ-นามสกุล' },
        { key: 'tel', label: 'เบอร์โทรศัพท์' },
        { key: 'operators', label: 'กระบวนการ' }
      ]
    }
  }
}
</script>
<style></style>
