<template>
  <div>
    <br /><br />
    <b-container class="bv-example-row bv-example-row-flex-cols">
      <b-row>
        <b-col class="d-flex justify-content-start" cols="5" align-self="end"
          ><h1>จัดการลำดับการพิจารณา</h1></b-col
        >

        <b-col cols="12" md="5" align="right" justify="center"
          ><b-form-input placeholder="ค้นหา"></b-form-input
        ></b-col>
        <b-col md="1" align="right" justify="center"
          ><b-button variant="outline-success" type="submit" class="m-1"
            >ค้นหา</b-button
          >
        </b-col>
         <b-col md="1" align="left" justify="center">
          <ApprovedForm
            :approved="selectedItem"
            ref="approvedForm"
            @save="saveapproved"
          ></ApprovedForm>
        </b-col>
      </b-row>
    </b-container>

    <br /><br />

    <b-table striped hover :items="items" :fields="fields">
      <template #cell(operators)="{ item }">
        <b-button
          @click="editProduct(item)"
          variant="outline-success"
          class="m-1"
          >แก้ไข</b-button
        >
        <b-button
          @click="editProduct(item)"
          variant="outline-danger"
          class="m-1"
          >ลบ</b-button
        >
      </template>
    </b-table>
  </div>
</template>
<script>
import ApprovedForm from './ApprovedForm.vue'
import axios from 'axios'
export default {
  components: {
    ApprovedForm
  },
  methods: {
    makeToast (title, message, variant = 'success', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    editApproved (item) {
      console.log('item ', item)
      this.selectedItem = item
      this.$nextTick(() => {
        this.$refs.approvedForm.show()
      })
    },
    deleteApproved (approved) {
      if (
        confirm(`คุณต้องการจะลบสินค้า ${approved._id} ${approved.nameapproved} หรือไม่?`)
      ) {
        axios
          .delete('http://localhost:3000/approveds/' + approved._id)
          .then(
            function (response) {
              this.getApproveds()
              this.makeToast('ลบสำเร็จ ', 'สินค้า ' + approved._id + ' ถูกลบแล้ว')
            }.bind(this)
          )
          .catch(() => {
            this.makeToast(
              'ลบไม่สำเร็จ ',
              'ไม่สามารถลบสินค้า ' + approved._id,
              'danger'
            )
          })
      }
    },
    saveApproved (approved) {
      console.log('approved', approved)
      console.log('approved._id', approved._id)
      console.log('Submit', approved)
      if (approved._id === '') {
        axios
          .post('http://localhost:3000/approveds/', approved)
          .then(
            function (response) {
              const newApproved = response.data
              this.getApproveds()
              this.makeToast(
                'เพิ่มสำเร็จ ',
                'สินค้า ' + newApproved._id + ' ถูกเพิ่มแล้ว'
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast(
              'เพิ่มสินค้าไม่สำเร็จ ',
              'ไม่สามารถเพิ่มสินค้า ' + approved._id,
              'danger'
            )
          })
      } else {
        axios
          .put('http://localhost:3000/approveds/' + approved._id, approved)
          .then(
            function (response) {
              // const updateApproved = response.data
              this.getApproveds()
              this.makeToast(
                'แก้ไขสำเร็จ ',
                'สินค้า ' + approved._id + ' ถูกแก้ไขแล้ว'
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast(
              'แก้ไขไม่สำเร็จ ',
              'ไม่สามารถแก้ไขสินค้า ' + approved._id,
              'danger'
            )
          })
      }
    },
    getApproveds () {
      axios.get('http://localhost:3000/approveds/').then(
        function (response) {
          console.log(response)
          this.approvedItems = response.data
        }.bind(this)
      )
    }
  },
  data () {
    return {
      items: [
        {
          id: 1,
          name: 'ผู้อนุมัติ 1',
          institution: 'IF',
          name_approv: 'Ungsumalee, Kanuengnij '
        },
        {
          id: 2,
          name: 'ผู้อนุมัติ 2',
          institution: 'IF',
          name_approv: 'Kanuengnij'
        },
        {
          id: 3,
          name: 'ผู้อนุมัติ 3',
          institution: 'IC',
          name_approv: 'Parinya, Rana'
        }
      ],
      fields: [
        { key: 'id', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อ' },
        { key: 'institution', label: 'คณะ' },
        { key: 'name_approv', label: 'ชื่อผู้อนุมัติ' },
        { key: 'operators', label: 'กระบวนการ' }
      ]
    }
  }
}
</script>
<style></style>
