<template>
  <div>
    <b-button @click="addNew()" variant="outline-primary" class="m-1"
      >เพิ่ม</b-button
    >

    <b-modal
      id="modal-approved"
      ref="modalApproved"
      title="ลำดับ"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop.prevent="reset">
        <b-form-group
          id="form-group-approved-codeApproved"
          label="ชื่อ"
          label-for="approved-codeApproved"
        >
          <b-form-input
            type="text"
            id="approved-codeApproved"
            placeholder="ชื่อ"
            v-model="form.codeApproved"
            :state="validatecodeApproved"
            autofocus
          ></b-form-input>

        </b-form-group>

        <b-form-group
          id="form-group-approved-nameApproved"
          label="คณะ"
          label-for="approved-nameApproved"
        >
          <b-form-input
            type="text"
            id="approved-nameApproved"
            placeholder="คณะ"
            v-model="form.nameApproved"
            :state="validateNameApproved"
            autofocus
          ></b-form-input>

        </b-form-group>

        <b-form-group
          id="form-group-approved-branch"
          label="ชื่อผู้อนุมัติ"
          label-for="form-group-approved-branch"
        >
          <b-form-input
            type="text"
            id="form-group-approved-branch"
            placeholder="ชื่อผู้อนุมัติ"
            v-model="form.branch"
            :state="validateBranch"
          ></b-form-input>

        </b-form-group>

      </b-form>
      <b-card>
        <pre>
        {{ form }}
      </pre
        >
      </b-card>
    </b-modal>
  </div>
</template>
<script>
export default {
  props: {
    approved: Object
  },
  data () {
    return {
      form: {
        _id: '',
        codeApproved: '',
        nameApproved: '',
        branch: '',
        amountRooms: ''
      },
      isAddNew: false
    }
  },
  computed: {
    validatecodeApproved () {
      return this.form.codeApproved.length >= 1
    },
    validateNameApproved () {
      return this.form.nameApproved.length >= 1
    },
    validateBranch () {
      return this.form.branch.length >= 1
    },
    validateForm () {
      return (
        this.validateNameApproved && this.validatecodeApproved && this.validateBranch
      )
    }
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalApproved.show()
    },
    submit () {
      console.log('Submit Form', this.form)
      const approved = JSON.parse(JSON.stringify(this.form))
      // Approved.nameApproved = parseFloat(Approved.nameApproved)
      this.$emit('save', approved)
      this.reset()
    },
    reset () {
      this.form = {
        _id: '',
        codeApproved: '',
        nameApproved: '',
        branch: '',
        amountRooms: ''
      }
    },
    resetModal (evt) {
      this.reset()
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        // edit
        this.form._id = this.approved._id
        this.form.codeApproved = this.approved.codeApproved
        this.form.nameApproved = this.approved.nameApproved
        this.form.branch = this.approved.branch
        this.form.amountRooms = this.approved.amountRooms
      }
    },
    handleModal (evt) {},
    handleOk (evt) {
      evt.preventDefault()
      if (!this.validateForm) return
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-approved')
      })
    }
  }
}
</script>
<style></style>
