<template>
  <div>
    <br /><br />
    <!-- {{ form.startDate + ' ' + form.startTime }} -->
    <b-container class="bv-example-row bv-example-row-flex-cols">
      <b-row>
        <b-col class="d-flex justify-content-start" cols="7" align-self="end"
          ><h1>การจอง</h1></b-col
        >
      </b-row>
    </b-container>
    <br />
    <!-- {{ roomItems }}
    <b-card>
      <pre>
        {{ form }}
      </pre>
    </b-card> -->
    <b-container>
      <div>
        <br />
        <b-row>
          <b-col>
            <h3 class="d-flex justify-content-start" align-self="end">
              {{ roomItems.nameRoom }}
            </h3>
            <p class="d-flex justify-content-start" align-self="end">
              {{ roomItems.detail }}
            </p>
          </b-col>
          <!-- <b-col class="d-flex align-items-end flex-column">
          <b-button variant="outline-success" class="mt-auto " size="lg" >จองห้อง</b-button>
        </b-col> -->
        </b-row>
      </div>

      <div>
        <b-row>
          <b-col>
            <label class="d-flex justify-content-start" align-self="end"
              >ชื่อผู้ขอจองห้อง :</label
            >
            <b-form-input
              :state="nameState"
              aria-describedby="input-live-help input-live-feedback"
              v-model="form.nameRequester"
              placeholder="ชื่อผู้ขอจองห้อง"
            ></b-form-input>
            <b-form-invalid-feedback id="input-live-feedback">
              โปรดใส่ชื่อผู้ขอจองห้อง
            </b-form-invalid-feedback>
            <br />

            <b-row>
              <b-col>
                <label
                  for="start-date"
                  class="d-flex justify-content-start"
                  align-self="end"
                  >วันที่เริ่มต้น :</label
                >
                <b-form-datepicker
                  id="start-date"
                  v-model="form.startDate"
                  class="mb-2"
                  locale="th"
                ></b-form-datepicker>
              </b-col>

              <b-col>
                <label
                  for="start-time"
                  class="d-flex justify-content-start"
                  align-self="end"
                  >เวลาเริ่มต้น :</label
                >
                <b-form-timepicker
                  id="start-time"
                  v-model="form.startTime"
                  locale="th"
                ></b-form-timepicker>
              </b-col>
            </b-row>
            <br />
            <b-row>
              <b-col
                ><label
                  for="end-date"
                  class="d-flex justify-content-start"
                  align-self="end"
                  >วันที่สิ้นสุด :</label
                >
                <b-form-datepicker
                  id="end-date"
                  v-model="form.endDate"
                  class="mb-2"
                  locale="th"
                ></b-form-datepicker
              ></b-col>

              <b-col>
                <label
                  for="end-time"
                  class="d-flex justify-content-start"
                  align-self="end"
                  >เวลาสิ้นสุด :</label
                >
                <b-form-timepicker
                  id="end-time"
                  v-model="form.endTime"
                  locale="th"
                ></b-form-timepicker
              ></b-col>
            </b-row>
          </b-col>

          <b-col cols="3">
            <div>
              <b-form-group
                label="อุปกรณ์ที่ต้องการขอใช้เพิ่มเติม"
                v-slot="{ ariaDescribedby }"
                align="center"
              >
                <b-form-checkbox-group
                  v-model="form.additional"
                  :options="options"
                  :aria-describedby="ariaDescribedby"
                  plain
                  stacked
                  align="left"
                  justify="center"
                ></b-form-checkbox-group>
              </b-form-group>

              <b-form-textarea
                id="textarea"
                v-model="form.additionalOther"
                placeholder="ระบุ..."
                rows="3"
                max-rows="4"
              >
              </b-form-textarea>
            </div>
          </b-col>
        </b-row>
      </div>

      <div>
        <b-row
          ><b-col align="left">
            <p>แจ้งประสงค์ใช้ห้อง :</p>
            <b-form-textarea
              id="textarea"
              v-model="form.reason"
              placeholder="แจ้งประสงค์ใช้ห้อง"
              rows="3"
              max-rows="4"
            >
            </b-form-textarea>
          </b-col>
        </b-row>
        <br />
        <div class="d-flex justify-content-center">
          <b-button
            variant="outline-success"
            class="m-2"
            @click="addEvent(form)"
            >ยืนยันการจอง</b-button
          >
          <b-button variant="outline-secondary" to="/selectbuilding" class="m-2"
            >ยกเลิก</b-button
          >
        </div>
      </div>
    </b-container>

    <!-- <div>Selected: {{ form.additional }}</div> -->
  </div>
</template>
<script>
import axios from 'axios'
export default {
  computed: {
    nameState () {
      return this.form.nameRequester.length > 0
    }
  },
  methods: {
    getRooms () {
      axios.get('http://localhost:3000/rooms/' + this.$route.params.id).then(
        function (response) {
          console.log('response detail room', response.data)
          this.roomItems = response.data
        }.bind(this)
      )
    },
    makeToast (title, message, variant, append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 5000,
        appendToast: append
      })
    },
    editRoom (item) {
      console.log('item ', item)
      this.selectedItem = item
    },
    async saveBuild (event) {
      if (
        event.nameRequester !== '' &&
        event.startDate !== '' &&
        event.startTime !== '' &&
        event.endDate !== '' &&
        event.endTime !== '' &&
        event.reason !== ''
      ) {
        axios
          .post('http://localhost:3000/requests/', event)
          .then(
            function (response) {
              const newBuild = response.data
              this.makeToast(
                'จองสำเร็จ ',
                'ห้อง ' + newBuild._id + ' ถูกจองแล้ว', 'success', true
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast(
              'จองห้องไม่สำเร็จ ',
              'ไม่สามารถจองห้อง ' + event._id,
              'danger', true
            )
          })
        console.log('event', event)
        console.log('event._id', event._id)
        console.log('Submit', event)
        await this.$router.push({ path: '/statusbooking' })
      } else {
        this.makeToast(
          'จองห้องไม่สำเร็จ ',
          'ไม่สามารถจองห้อง ' + event._id,
          'danger'
        )
      }
    },
    addEvent (e) {
      const event = {
        rooms: e.rooms,
        additional: e.additional,
        nameRequester: e.nameRequester,
        startDate: new Date(e.startDate + ' ' + e.startTime),
        endDate: new Date(e.endDate + ' ' + e.endTime),
        reason: e.reason,
        status: e.status,
        additionalOther: e.additionalOther
      }
      console.log(event)
      this.saveBuild(event)
    }
  },
  mounted () {
    this.getRooms()
  },
  data () {
    return {
      // additional: [], // Must be an array reference!
      // startDate: '',
      // endDate: '',
      // startTime: '',
      // endTime: '',
      // content: '',
      // additionalOther: '',
      // reason: '',
      // status: 'รออนุมัติ',

      options: [
        { text: 'ระบบเครื่องเสียง', value: 'speaker' },
        { text: 'โปรเจคเตอร์', value: 'projector' },
        { text: 'โน๊คบุ๊ค', value: 'notebook' },
        { text: 'ไมค์', value: 'microphone' },
        { text: 'อื่นๆ ระบุ...', value: 'other' }
      ],

      form: {
        rooms: this.$route.params.id,
        additional: [],
        nameRequester: '',
        startDate: '',
        endDate: '',
        startTime: '',
        endTime: '',
        reason: '',
        status: 'รออนุมัติ',
        additionalOther: ''
      },

      roomItems: [],

      selectedItem: null
    }
  }
}
</script>
<style></style>
