<template>
  <div>
    <b-button @click="addNew()" variant="outline-primary" class="m-1"
      >เพิ่ม</b-button
    >

    <b-modal
      id="modal-build"
      ref="modalBuild"
      title="สินค้า"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop.prevent="reset">
        <b-form-group
          id="form-group-build-codeBuild"
          label="รหัส"
          label-for="build-codeBuild"
        >
          <b-form-input
            type="text"
            id="build-codeBuild"
            placeholder="รหัส"
            v-model="form.codeBuild"
            :state="validatecodeBuild"
            autofocus
          ></b-form-input>
          <b-form-invalid-feedback :state="validatecodeBuild"
            >รหัสต้องมีความยาวอย่างน้อย 1 ตัวอักษร
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group
          id="form-group-build-nameBuild"
          label="ชื่อตึก"
          label-for="build-nameBuild"
        >
          <b-form-input
            type="text"
            id="build-nameBuild"
            placeholder="ชื่อตึก"
            v-model="form.nameBuild"
            :state="validateNameBuild"
            autofocus
          ></b-form-input>
          <b-form-invalid-feedback :state="validateNameBuild"
            >ชื่อตึกต้องมีความยาวอย่างน้อย 1 ตัวอักษร
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group
          id="form-group-build-branch"
          label="สาขา"
          label-for="form-group-build-branch"
        >
          <b-form-input
            type="text"
            id="form-group-build-branch"
            placeholder="สาขา"
            v-model="form.branch"
            :state="validateBranch"
          ></b-form-input>
          <b-form-invalid-feedback :state="validateBranch"
            >สาขาต้องมีความยาวอย่างน้อย 1 ตัวอักษร
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group
          id="form-group-build-amountRooms"
          label="จำนวนห้อง"
          label-for="form-group-build-amountRooms"
        >
          <b-form-input
            type="number"
            id="form-group-build-amountRooms"
            placeholder="จำนวนห้อง"
            v-model="form.amountRooms"
          ></b-form-input>

        </b-form-group>
      </b-form>
      <b-card>
        <pre>
        {{ form }}
      </pre
        >
      </b-card>
    </b-modal>
  </div>
</template>
<script>
export default {
  props: {
    build: Object
  },
  data () {
    return {
      form: {
        _id: '',
        codeBuild: '',
        nameBuild: '',
        branch: '',
        amountRooms: ''
      },
      isAddNew: false
    }
  },
  computed: {
    validatecodeBuild () {
      return this.form.codeBuild.length >= 1
    },
    validateNameBuild () {
      return this.form.nameBuild.length >= 1
    },
    validateBranch () {
      return this.form.branch.length >= 1
    },
    validateForm () {
      return (
        this.validateNameBuild && this.validatecodeBuild && this.validateBranch
      )
    }
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalBuild.show()
    },
    submit () {
      console.log('Submit Form', this.form)
      const build = JSON.parse(JSON.stringify(this.form))
      // build.nameBuild = parseFloat(build.nameBuild)
      this.$emit('save', build)
      this.reset()
    },
    reset () {
      this.form = {
        _id: '',
        codeBuild: '',
        nameBuild: '',
        branch: '',
        amountRooms: ''
      }
    },
    resetModal (evt) {
      this.reset()
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        // edit
        this.form._id = this.build._id
        this.form.codeBuild = this.build.codeBuild
        this.form.nameBuild = this.build.nameBuild
        this.form.branch = this.build.branch
        this.form.amountRooms = this.build.amountRooms
      }
    },
    handleModal (evt) {},
    handleOk (evt) {
      evt.preventDefault()
      if (!this.validateForm) return
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-build')
      })
    }
  }
}
</script>
<style></style>
