<template>
  <div>
    <br /><br />

    <b-container class="bv-example-row bv-example-row-flex-cols">
      <b-row>
        <b-col class="d-flex justify-content-start" cols="7" align-self="end"
          ><h1>ดูรายละเอียด</h1></b-col
        >
      </b-row>
    </b-container>

    <br />
    <!-- {{ roomItems }} -->
    <b-container>
      <div>
        <br />
        <b-row>
          <b-col>
            <h3 class="d-flex justify-content-start" align-self="end">
              {{ roomItems.nameRoom }}
            </h3>
            <p class="d-flex justify-content-start" align-self="end">
              {{ roomItems.detail }}
            </p>
          </b-col>
          <b-col class="d-flex align-items-end flex-column">
            <b-button variant="outline-success" :to="`/bookingroompage/${roomItems._id}`" class="mt-auto" size="lg"
              >จองห้อง</b-button
            >
          </b-col>
        </b-row>
      </div>
      <b-row>
        <b-col>
          <label
            for="start-date"
            class="d-flex justify-content-start"
            align-self="end"
            >วันที่เริ่มต้น :</label
          >
          <b-form-datepicker
            id="start-date"
            v-model="startDate"
            class="mb-2"
            locale="th"
          ></b-form-datepicker>
        </b-col>

        <b-col>
          <label
            for="start-time"
            class="d-flex justify-content-start"
            align-self="end"
            >เวลาเริ่มต้น :</label
          >
          <b-form-timepicker
            id="start-time"
            v-model="startTime"
            locale="th"
          ></b-form-timepicker>
        </b-col>
      </b-row>
      <br />
      <b-row>
        <b-col
          ><label
            for="end-date"
            class="d-flex justify-content-start"
            align-self="end"
            >วันที่สิ้นสุด :</label
          >
          <b-form-datepicker
            id="end-date"
            v-model="endDate"
            class="mb-2"
            locale="th"
          ></b-form-datepicker
        ></b-col>

        <b-col>
          <label
            for="end-time"
            class="d-flex justify-content-start"
            align-self="end"
            >เวลาสิ้นสุด :</label
          >
          <b-form-timepicker
            id="end-time"
            v-model="endTime"
            locale="th"
          ></b-form-timepicker
        ></b-col>
      </b-row>

      <br />
      <b-row>
        <b-col>
          <vue-cal
            class="vuecal--rounded-theme vuecal--date-picker"
            style="height: 350px"
            :locale="th"
            active-view="month"
          />
          <!-- :events="events"
            @ready="ready($event)"
            @view-change="viewChange($event)" -->
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import th from '../locale/th'

import axios from 'axios'

export default {
  components: { VueCal },
  methods: {
    getRooms () {
      axios.get('http://localhost:3000/rooms/' + this.$route.params.id).then(
        function (response) {
          console.log('response detail room', response.data)
          this.roomItems = response.data
        }.bind(this)
      )
    },
    editRoom (item) {
      console.log('item ', item)
      this.selectedItem = item
    }
  },
  mounted () {
    this.getRooms()
  },

  computed: {
    th () {
      return th
    }
  },
  data () {
    return {
      roomItems: [],
      startDate: '',
      endDate: '',
      startTime: '',
      endTime: '',
      title: '',
      content: ''

      // items: [
      //   {
      //     id: 1,
      //     roomname: 'IF-3C01',
      //     detail: 'จำนวนที่นั่ง 60 ที่นั่ง, ระบบเครื่องเสียง, โปรเจคเตอร์, ไมค์'
      //   }
      // ],
      // fields: [
      //   { key: 'img', label: 'img' },
      //   // { key: 'id', label: 'id' },
      //   { key: 'roomname', label: 'roomname' },
      //   { key: 'detail', label: 'detail' },
      //   { key: 'operators', label: 'กระบวนการ' }
      // ]
    }
  }
}
</script>
<style>
.vuecal__menu,
.vuecal__cell-events-count {
  background-color: rgba(66, 185, 131, 0.5);
}
.vuecal__title-bar {
  background-color: #e4f5ef;
}
.vuecal__cell--today,
.vuecal__cell--current {
  background-color: rgba(240, 240, 255, 0.4);
}
.vuecal:not(.vuecal--day-view) .vuecal__cell--selected {
  background-color: rgba(235, 255, 245, 0.4);
}
.vuecal__cell--selected:before {
  border-color: rgba(66, 185, 131, 0.5);
}
/* Cells and buttons get highlighted when an event is dragged over it. */
.vuecal__cell--highlighted:not(.vuecal__cell--has-splits),
.vuecal__cell-split--highlighted {
  background-color: rgba(195, 255, 225, 0.5);
}
.vuecal__arrow.vuecal__arrow--highlighted,
.vuecal__view-btn.vuecal__view-btn--highlighted {
  background-color: rgba(136, 236, 191, 0.25);
}
</style>
