<template>
  <div>
    <br /><br />

    <b-container class="bv-example-row bv-example-row-flex-cols">
      <b-row>
        <b-col class="d-flex justify-content-start" cols="7" align-self="end"
          ><h1>รายละเอียดคำร้องขอจองห้อง</h1></b-col
        >
      </b-row>
    </b-container>

    <br />
    <!-- {{ requestItems.endDate}} -->
    <b-container>
      <div>
        <br />
        <b-row>
          <b-col>
            <h3 class="d-flex justify-content-start" align-self="end">
              ชื่อผู้ส่งคำร้อง : {{ requestItems.nameRequester }}
            </h3>
            <p class="d-flex justify-content-start" align-self="end">
              ห้อง : {{ requestItems.rooms }}
            </p>
          </b-col>
          <!-- <b-col class="d-flex align-items-end flex-column">
          <b-button variant="outline-success" class="mt-auto " size="lg" >จองห้อง</b-button>
        </b-col> -->
        </b-row>
      </div>

      <div>
        <b-row>
          <b-col>
            <b-row>
              <b-col>
                <label
                  for="start-date"
                  class="d-flex justify-content-start"
                  align-self="end"
                  >วันที่เริ่มต้น :</label
                >
                <b-form-datepicker
                  id="start-date"
                  v-model="startDate"
                  class="mb-2"
                  locale="th"
                ></b-form-datepicker>
              </b-col>

              <b-col>
                <label
                  for="start-time"
                  class="d-flex justify-content-start"
                  align-self="end"
                  >เวลาเริ่มต้น :</label
                >
                <b-form-timepicker
                  id="start-time"
                  v-model="startTime"
                  locale="th"
                ></b-form-timepicker>
              </b-col>
            </b-row>
            <br />
            <b-row>
              <b-col
                ><label
                  for="end-date"
                  class="d-flex justify-content-start"
                  align-self="end"
                  >วันที่สิ้นสุด :</label
                >
                <b-form-datepicker
                  id="end-date"
                  v-model="endDate"
                  class="mb-2"
                  locale="th"
                ></b-form-datepicker
              ></b-col>

              <b-col>
                <label
                  for="end-time"
                  class="d-flex justify-content-start"
                  align-self="end"
                  >เวลาสิ้นสุด :</label
                >
                <b-form-timepicker
                  id="end-time"
                  v-model="endTime"
                  locale="th"
                ></b-form-timepicker
              ></b-col>
            </b-row>
          </b-col>

          <b-col cols="3">
            <div>
              <b-form-group
                label="อุปกรณ์ที่ต้องการขอใช้เพิ่มเติม"
                v-slot="{ ariaDescribedby }"
                align="center"
              >
                <b-form-checkbox-group
                  v-model="selected"
                  :options="options"
                  :aria-describedby="ariaDescribedby"
                  plain
                  stacked
                  align="left"
                  justify="center"
                ></b-form-checkbox-group>
              </b-form-group>

              <b-form-textarea
                v-model="additionalOther"
                placeholder="ระบุ..."
                rows="3"
                max-rows="4"
              >
              </b-form-textarea>
            </div>
          </b-col>
        </b-row>
      </div>

      <div>
        <b-row
          ><b-col align="left">
            <p>แจ้งประสงค์ใช้ห้อง :</p>
            <b-form-textarea
              id="reason"
              placeholder="แจ้งประสงค์ใช้ห้อง"
              rows="3"
              max-rows="4"
              :value="reason"
            >
            </b-form-textarea>
            <!-- <div>reason: {{ reason }}</div> -->
          </b-col>
        </b-row>
        <br />
        <div class="d-flex justify-content-center">
          <b-button variant="outline-success" @click="updateStatusApprove(requestItems)"  class="m-2">อนุมัติ</b-button>
          <b-button variant="outline-danger" @click="updateStatusDisapprove(requestItems)"  class="m-2">ไม่อนุมัติ</b-button>
        </div>
      </div>
    </b-container>

    <!-- <div>Selected: {{ selected }}</div> -->
  </div>
</template>
<script>
import axios from 'axios'
export default {
  methods: {
    makeToast (title, message, variant = 'success', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    async updateStatusApprove (request) {
      // http://localhost:3000/requests/625aa788ae58d3a1c0def853
      console.log(request.status)
      request.status = 'อนุมัติ'
      console.log(request.status)
      axios
        .put('http://localhost:3000/requests/' + request._id, request)
        .then(
          function (response) {
            // const updateBuild = response.data
            this.makeToast(
              'แก้ไขสำเร็จ ',
              'สินค้า ' + request._id + ' ถูกแก้ไขแล้ว'
            )
          }.bind(this)
        )
        .catch(() => {
          this.makeToast(
            'แก้ไขไม่สำเร็จ ',
            'ไม่สามารถแก้ไขสินค้า ' + request._id,
            'danger'
          )
        })

      await this.$router.push({ path: '/requestlist' })
      location.reload()
    },

    async updateStatusDisapprove (request) {
      // http://localhost:3000/requests/625aa788ae58d3a1c0def853
      console.log(request.status)
      request.status = 'ไม่อนุมัติ'
      console.log(request.status)
      axios
        .put('http://localhost:3000/requests/' + request._id, request)
        .then(
          function (response) {
            // const updateBuild = response.data
            this.makeToast(
              'แก้ไขสำเร็จ ',
              'สินค้า ' + request._id + ' ถูกแก้ไขแล้ว'
            )
          }.bind(this)
        )
        .catch(() => {
          this.makeToast(
            'แก้ไขไม่สำเร็จ ',
            'ไม่สามารถแก้ไขสินค้า ' + request._id,
            'danger'
          )
        })

      await this.$router.push({ path: '/requestlist' })
      location.reload()
    },
    getRequests () {
      axios.get('http://localhost:3000/requests/' + this.$route.params.id).then(
        function (response) {
          console.log('response detail room', response.data)
          this.requestItems = response.data
          this.selected = response.data.additional
          this.startDate = new Date(response.data.startDate)
          this.startTime = new Date(this.startDate).toLocaleTimeString('th', {
            hour12: false
          })
          this.endDate = new Date(response.data.endDate)
          this.endTime = new Date(this.endDate).toLocaleTimeString('th', {
            hour12: false
          })
          this.reason = response.data.reason
          this.additionalOther = response.data.additionalOther
        }.bind(this)
      )
    },
    editRequest (item) {
      console.log('item ', item)
      this.selectedItem = item
    }
  },
  mounted () {
    this.getRequests()
  },
  data () {
    return {
      requestItems: [],

      selected: [], // Must be an array reference!
      options: [
        { text: 'ระบบเครื่องเสียง', value: 'speaker' },
        { text: 'โปรเจคเตอร์', value: 'projector' },
        { text: 'โน๊คบุ๊ค', value: 'notebook' },
        { text: 'ไมค์', value: 'microphone' },
        { text: 'อื่นๆ ระบุ...', value: 'other' }
      ],
      startDate: '',
      endDate: '',
      startTime: '',
      endTime: '',
      status: '',
      reason: '',
      additionalOther: '',

      fields: [
        { key: 'img', label: 'img' },
        // { key: 'id', label: 'id' },
        { key: 'roomname', label: 'ชื่อ' },
        { key: 'detail', label: 'รายละเอียด' },
        { key: 'operators', label: 'กระบวนการ' }
      ]
    }
  }
}
</script>
<style></style>
