<template>
  <div>
    <br /><br />
    <b-container class="bv-example-row bv-example-row-flex-cols">
      <b-row>
        <b-col class="d-flex justify-content-start" cols="5" align-self="end"
          ><h1>รายละเอียดการใช้ห้อง</h1></b-col
        >
      </b-row>
    </b-container>

    <form class="form_color">

    <br />
    <b-container class="bv-example-row bv-example-row-flex-cols">
      <b-row>
        <b-col class="d-flex justify-content-start" cols="7" align-self="end"
          ><h3>
            วันที่ :
            {{ new Date(requestItems.startDate).toLocaleDateString('th') }}

            เวลา :
            {{
              new Date(requestItems.startDate).toLocaleTimeString('th', {
                hour12: false
              })
            }}
          </h3></b-col
        >
      </b-row>
      <br />
      <b-col class="d-flex justify-content-start" align-self="end">
        <h4>ชื่อ-นามสกุล : {{ requestItems.nameRequester }}</h4>
      </b-col>
      <br />
      <b-col class="d-flex justify-content-start" align-self="end">
        <h4>
          ช่วงเวลา :
          {{ new Date(requestItems.startDate).toLocaleDateString('th') }}

          {{
            new Date(requestItems.startDate).toLocaleTimeString('th', {
              hour12: false
            })
          }}
          -

          {{ new Date(requestItems.endDate).toLocaleDateString('th') }}

          {{
            new Date(requestItems.endDate).toLocaleTimeString('th', {
              hour12: false
            })
          }}
        </h4>
      </b-col>
      <br />
      <b-col class="d-flex justify-content-start" align-self="end">
        <h4>ห้อง : {{ requestItems.rooms }}</h4>
      </b-col>
      <br />
      <b-col class="d-flex justify-content-start" align-self="end">
        <h4>อุปกรณ์ที่ต้องการขอใช้เพิ่มเติม : {{ requestItems.additional }}</h4>
      </b-col>
      <br />
      <b-col class="d-flex justify-content-start" align-self="end">
        <h4>ประสงค์การใช้ห้อง : {{ requestItems.reason }}</h4>
      </b-col>
      <br />
      <b-col class="d-flex justify-content-start" align-self="end">
        <h4>สถานะ : </h4>
        <span :class="{ 'text-red': requestItems.status === 'ไม่อนุมัติ', 'text-green': requestItems.status === 'อนุมัติ' , 'text-yellow': requestItems.status === 'รออนุมัติ' }">
        <h4> {{ requestItems.status }}</h4>
        </span>
      </b-col>

    </b-container>

    <br />
    <b-button
      variant="outline-success"
      class="m-2"
      :to="`/reportusageroomsmain/`"
      >ย้อนกลับ</b-button
    >
    </form>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  methods: {
    getRequests () {
      axios.get('http://localhost:3000/requests/' + this.$route.params.id).then(
        function (response) {
          console.log('response detail room', response.data)
          this.requestItems = response.data
          this.selected = response.data.additional
          this.startDate = new Date(response.data.startDate)
          this.startTime = new Date(this.startDate).toLocaleTimeString('th', {
            hour12: false
          })
          this.endDate = new Date(response.data.endDate)
          this.endTime = new Date(this.endDate).toLocaleTimeString('th', {
            hour12: false
          })
          this.reason = response.data.reason
          this.additionalOther = response.data.additionalOther
        }.bind(this)
      )
    },
    editRequest (item) {
      console.log('item ', item)
      this.selectedItem = item
    }
  },
  mounted () {
    this.getRequests()
  },
  data () {
    return {
      requestItems: [],
      // items: [
      //   {
      //     id: 1,
      //     startdate: '09:00 12-03-2565',
      //     enddate: '10:00 12-03-2565',
      //     nameuse: 'นางวนารี ศรีสมพร',
      //     approver: 'นายเมธี ถาวร',
      //     codeBuild: 'IF',
      //     nameBuild: 'อาคารวิทยาการสารสนเทศ',
      //     roomcode: 'IF-3C01',
      //     branch: 'บางแสน',
      //     institution: 'วิทยาการสารสนเทศ',
      //     name: 'นายกร โชติ',
      //     tel: '081-1223344'
      //   },
      //   {
      //     id: 2,
      //     startdate: '13:00 21-03-2565',
      //     enddate: '15:00 12-03-2565',
      //     nameuse: 'นายสากร ร่าเริงดี',
      //     approver: 'นายเมธี ถาวร',
      //     codeBuild: 'IF',
      //     nameBuild: 'อาคารวิทยาการสารสนเทศ',
      //     roomcode: 'IF-11M280',
      //     branch: 'บางแสน',
      //     institution: 'วิทยาการสารสนเทศ',
      //     name: 'นางเมษา มาตี',
      //     tel: '081-9878898'
      //   }
      // ],
      fields: [
        { key: '_id', label: 'ลำดับ' },
        { key: 'startDate', label: 'เวลาเริ่ม' },
        { key: 'endDate', label: 'เวลาจบ' },
        { key: 'nameRequester', label: 'ชื่อผู้ใช้' },
        // { key: 'institution', label: 'หน่วยงาน' },
        // { key: 'codeBuild', label: 'รหัส' },
        //  { key: 'nameBuild', label: 'ชื่อตึก' },
        { key: 'rooms', label: 'ห้อง' },
        // { key: 'branch', label: 'สาขา' },
        // { key: 'name', label: 'ชื่อ-นามสกุล' },
        // { key: 'tel', label: 'เบอร์โทรศัพท์' },
        // { key: 'approver', label: 'ผู้อนุมัติ' },
        { key: 'operators', label: 'กระบวนการ' }
      ]
    }
  }
}
</script>
<style>
p {
  font-size: 20px;
  text-align: left;
}
.text-red {
  color: rgb(255, 114, 89);
}
.text-green {
  color: rgb(0, 187, 0);
}
.text-yellow {
  color: rgb(0, 178, 238);
}

.form_color{
  background-color: rgb(248, 248, 248);
}
/* form {
  background-color: rgb(231, 252, 255);
} */
</style>
