<template>
  <div class="home">
    <!-- <img alt="Buu logo" src="../assets/buu.png"> -->
   <!-- <h1>{{isLogin}}</h1> -->
    <!-- <HelloWorld />  -->

    <b-container >
      <div class="vh-100 text-center" align-v="center">
        <b-card body-class="d-flex flex-column" style="max-width: 1500px">
          <b-row align-v="center">
            <b-col md="6" class="bg-gray">
              <b-card-img
                src="https://www.lib.buu.ac.th/web/wp-content/uploads/2020/01/Buu-logo11.png"
                alt="Image"
                class="rounded-0"
              ></b-card-img>
            </b-col>
            <b-col md="6">
              <h1>เข้าสู่ระบบ</h1>
              <b-card-body>
                <!-- title="เข้าสู่ระบบ" -->
                <b-card-text>
                  <div style="text-align: justify">
                    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                      <b-form-group
                        id="input-group-1"
                        label="ชื่อผู้ใช้งาน :"
                        label-for="input-1"
                      >
                        <b-form-input
                          id="input-1"
                          v-model="form.email"
                          type="email"
                          placeholder="ชื่อผู้ใช้งาน"
                          required
                        ></b-form-input>
                      </b-form-group>
                      <br />
                      <b-form-group
                        id="input-group-2"
                        label="รหัสผ่าน :"
                        label-for="input-2"
                      >
                        <b-form-input
                          id="input-2"
                          v-model="form.password"
                          placeholder="รหัสผ่าน"
                          required
                          type="password"
                        ></b-form-input>
                      </b-form-group>
                      <br />
                      <div style="text-align: end">
                        <b-link href="#foo">ลืมรหัสผ่านใช่ไหม?</b-link>
                      </div>

                      <div style="text-align: center">
                        <!-- <b-button type="reset" variant="danger">Reset</b-button> -->
                        <b-button
                          type="submit"
                          variant="outline-success"
                          class="m-2"
                          >เข้าสู่ระบบ</b-button
                        >
                      </div>
                    </b-form>
                  </div>
                  <!-- {{ $store.state.auth.isLogin }}
                   {{ $store.getters['auth/isLogin'] }} -->
                </b-card-text>
              </b-card-body>
            </b-col>
          </b-row>
        </b-card>
      </div>
    </b-container>
  </div>
</template>

<style>
.bg-gray {
  background-color: #cccccc;
}
</style>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

export default {

  // ถ้า login ผ่านจะไปหน้า about
  watch: {
    async isLogin () {
      await this.$router.push('/mainpage')
      location.reload()
    }
  },

  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }

  },
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      show: true
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      // alert(JSON.stringify(this.form))
      this.$store.dispatch('auth/login', this.form)
    },
    onReset (event) {
      event.preventDefault()
      // Reset our form values
      this.form.email = ''
      this.form.password = ''
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }

  }
}
</script>
