<template>
  <div>
    <b-button @click="addNew()" variant="outline-primary" class="m-1"
      >เพิ่ม</b-button
    >

    <b-modal
      id="modal-build"
      ref="modalBuild"
      title="สินค้า"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop.prevent="reset">
        <b-form-group
          id="form-group-build-institutionName"
          label="หน่วยงาน"
          label-for="build-institutionName"
        >
          <b-form-input
            type="text"
            id="build-institutionName"
            placeholder="หน่วยงาน"
            v-model="form.institutionName"
            :state="validateinstitutionName"
            autofocus
          ></b-form-input>
          <b-form-invalid-feedback :state="validateinstitutionName"
            >กรุณาใส่หน่วยงาน
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group
          id="form-group-build-institution"
          label="รหัสหน่วยงาน"
          label-for="build-institution"
        >
          <b-form-input
            type="text"
            id="build-institution"
            placeholder="รหัสหน่วยงาน"
            v-model="form.institution"
            :state="validateinstitution"
            autofocus
          ></b-form-input>
          <b-form-invalid-feedback :state="validateinstitution"
            >กรุณาใส่รหัสหน่วยงาน
          </b-form-invalid-feedback>
        </b-form-group>

      </b-form>
      <b-card>
        <pre>
        {{ form }}
      </pre
        >
      </b-card>
    </b-modal>
  </div>
</template>
<script>
export default {
  props: {
    build: Object
  },
  data () {
    return {
      form: {
        _id: '',
        institutionName: '',
        institution: ''
      },
      isAddNew: false
    }
  },
  computed: {
    validateinstitution () {
      return this.form.institution.length >= 1
    },
    validateinstitutionName () {
      return this.form.institutionName.length >= 1
    },
    validateForm () {
      return (
        this.validateinstitution && this.form.institutionName
      )
    }
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalBuild.show()
    },
    submit () {
      console.log('Submit Form', this.form)
      const build = JSON.parse(JSON.stringify(this.form))
      this.$emit('save', build)
      this.reset()
    },
    reset () {
      this.form = {
        _id: '',
        institutionName: '',
        institution: ''
      }
    },
    resetModal (evt) {
      this.reset()
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        // edit
        this.form._id = this.build._id
        this.form.institutionName = this.build.institutionName
        this.form.institution = this.build.institution
      }
    },
    handleModal (evt) {},
    handleOk (evt) {
      evt.preventDefault()
      if (!this.validateForm) return
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-build')
      })
    }
  }
}
</script>
<style></style>
