<template>
  <div>
    <br /><br />
    <b-container class="bv-example-row bv-example-row-flex-cols">
      <b-row>
        <b-col class="d-flex justify-content-start" cols="6" align-self="end"
          ><h1>จัดการบุคลากรภายในหน่วยงาน</h1></b-col
        >

        <b-col cols="12" md="4" align="right" justify="center"
          ><b-form-input placeholder="ค้นหา"></b-form-input
        ></b-col>
        <b-col md="1" align="right" justify="center"
          ><b-button variant="outline-success" type="submit" class="m-1"
            >ค้นหา</b-button
          >
        </b-col>
        <b-col md="1" align="left" justify="center">
          <InternalManageForm
            :build="selectedItem"
            ref="InternalManageForm"
            @save="saveBuild"
          ></InternalManageForm>
        </b-col>
      </b-row>
    </b-container>

    <br /><br />
    <!-- {{ selectedItem }} -->

    <b-table striped hover :items="userItems" :fields="fields">
      <template #cell(operators)="{ item }">
        <b-button
          @click="editBuild(item)"
          variant="outline-success"
          class="m-1"
          >แก้ไข</b-button
        >
        <b-button
          @click="deleteBuild(item)"
          variant="outline-danger"
          class="m-1"
          >ลบ</b-button
        >
      </template>
    </b-table>
  </div>
</template>
<script>
import InternalManageForm from './InternalManageForm.vue'
import axios from 'axios'
export default {
  components: {
    InternalManageForm
  },
  methods: {
    makeToast (title, message, variant = 'success', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    editBuild (item) {
      console.log('item ', item)
      this.selectedItem = item
      this.$nextTick(() => {
        this.$refs.InternalManageForm.show()
      })
    },
    deleteBuild (build) {
      if (
        confirm(`คุณต้องการจะลบสินค้า ${build._id} ${build.nameBuild} หรือไม่?`)
      ) {
        axios
          .delete('http://localhost:3000/users/' + build._id)
          .then(
            function (response) {
              this.getBuilds()
              this.makeToast('ลบสำเร็จ ', 'สินค้า ' + build._id + ' ถูกลบแล้ว')
            }.bind(this)
          )
          .catch(() => {
            this.makeToast(
              'ลบไม่สำเร็จ ',
              'ไม่สามารถลบสินค้า ' + build._id,
              'danger'
            )
          })
      }
    },
    saveBuild (build) {
      console.log('build', build)
      console.log('build._id', build._id)
      console.log('Submit', build)
      if (build._id === '') {
        axios
          .post('http://localhost:3000/users/', build)
          .then(
            function (response) {
              const newBuild = response.data
              this.getBuilds()
              this.makeToast(
                'เพิ่มสำเร็จ ',
                'สินค้า ' + newBuild._id + ' ถูกเพิ่มแล้ว'
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast(
              'เพิ่มสินค้าไม่สำเร็จ ',
              'ไม่สามารถเพิ่มสินค้า ' + build._id,
              'danger'
            )
          })
      } else {
        axios
          .put('http://localhost:3000/users/' + build._id, build)
          .then(
            function (response) {
              // const updateBuild = response.data
              this.getBuilds()
              this.makeToast(
                'แก้ไขสำเร็จ ',
                'สินค้า ' + build._id + ' ถูกแก้ไขแล้ว'
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast(
              'แก้ไขไม่สำเร็จ ',
              'ไม่สามารถแก้ไขสินค้า ' + build._id,
              'danger'
            )
          })
      }
    },
    getBuilds () {
      axios.get('http://localhost:3000/users/').then(
        function (response) {
          console.log(response)
          this.userItems = response.data
        }.bind(this)
      )
    }
  },
  data () {
    return {
      fields: [
        { key: '_id', label: 'ลำดับ' },
        { key: 'userId', label: 'รหัสประจำตัว' },
        { key: 'name', label: 'ชื่อ' },
        { key: 'surname', label: 'นามสกุล' },
        { key: 'statusP', label: 'ตำแหน่ง' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      userItems: [],
      selectedItem: null
    }
  },
  mounted () {
    this.getBuilds()
  }
}
</script>
<style>
.d-flex{
  font-size: 10px;
}
</style>
