<template>
  <div>
    <b-button @click="addNew()" variant="outline-primary" class="m-1"
      >เพิ่ม</b-button
    >

    <b-modal
      id="modal-build"
      ref="modalBuild"
      title="สินค้า"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop.prevent="reset">
        <b-form-group
          id="form-group-build-userId"
          label="รหัสประจำตัว"
          label-for="build-userId"
        >
          <b-form-input
            type="text"
            id="build-userId"
            placeholder="รหัสประจำตัว"
            v-model="form.userId"
            :state="validateuserId"
            autofocus
          ></b-form-input>
          <b-form-invalid-feedback :state="validateuserId"
            >กรุณาใส่รหัสประจำตัว
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group
          id="form-group-build-name"
          label="ชื่อ"
          label-for="build-name"
        >
          <b-form-input
            type="text"
            id="build-name"
            placeholder="ชื่อ"
            v-model="form.name"
            :state="validatename"
            autofocus
          ></b-form-input>
          <b-form-invalid-feedback :state="validatename"
            >กรุณาใส่ชื่อ
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group
          id="form-group-build-surname"
          label="นามสกุล"
          label-for="form-group-build-surname"
        >
          <b-form-input
            type="text"
            id="form-group-build-surname"
            placeholder="นามสกุล"
            v-model="form.surname"
            :state="validatesurname"
          ></b-form-input>
          <b-form-invalid-feedback :state="validatesurname"
            >กรุณาใส่นามสกุล
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group
          id="form-group-build-statusP"
          label="ตำแหน่ง"
          label-for="form-group-build-statusP"
        >
          <b-form-input
            type="text"
            id="form-group-build-statusP"
            placeholder="ตำแหน่ง"
            v-model="form.statusP"
            :state="validatestatusP"
          ></b-form-input>
          <b-form-invalid-feedback :state="validatestatusP"
            >กรุณาใส่ตำแหน่ง
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group
          id="form-group-build-institution"
          label="หน่วยงาน"
          label-for="form-group-build-institution"
        >
          <b-form-input
            type="text"
            id="form-group-build-institution"
            placeholder="หน่วยงาน"
            v-model="form.institution"
            :state="validateinstitution"
          ></b-form-input>
          <b-form-invalid-feedback :state="validateinstitution"
            >กรุณาใส่หน่วยงาน
          </b-form-invalid-feedback>
        </b-form-group>

      </b-form>
      <b-card>
        <pre>
        {{ form }}
      </pre
        >
      </b-card>
    </b-modal>
  </div>
</template>
<script>
export default {
  props: {
    build: Object
  },
  data () {
    return {
      form: {
        _id: '',
        userId: '',
        name: '',
        surname: '',
        statusP: '',
        institution: ''
      },
      isAddNew: false
    }
  },
  computed: {
    validateuserId () {
      return this.form.userId.length >= 1
    },
    validatename () {
      return this.form.name.length >= 1
    },
    validatesurname () {
      return this.form.surname.length >= 1
    },
    validatestatusP () {
      return this.form.statusP.length >= 1
    },
    validateinstitution () {
      return this.form.institution.length >= 1
    },
    validateForm () {
      return (
        this.validatename && this.validateuserId && this.validatesurname
      )
    }
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalBuild.show()
    },
    submit () {
      console.log('Submit Form', this.form)
      const build = JSON.parse(JSON.stringify(this.form))
      this.$emit('save', build)
      this.reset()
    },
    reset () {
      this.form = {
        _id: '',
        userId: '',
        name: '',
        surname: '',
        statusP: '',
        institution: ''
      }
    },
    resetModal (evt) {
      this.reset()
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        // edit
        this.form._id = this.build._id
        this.form.userId = this.build.userId
        this.form.name = this.build.name
        this.form.surname = this.build.surname
        this.form.statusP = this.build.statusP
        this.form.institution = this.build.institution
      }
    },
    handleModal (evt) {},
    handleOk (evt) {
      evt.preventDefault()
      if (!this.validateForm) return
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-build')
      })
    }
  }
}
</script>
<style></style>
