<template>
  <div>
    <br /><br />
    <b-container class="bv-example-row bv-example-row-flex-cols">
      <b-row>
        <b-col class="d-flex justify-content-start" cols="7" align-self="end"
          ><h1>รายงานการใช้ห้องของแต่ละหน่วยงาน</h1></b-col
        >

        <b-col cols="12" md="4" align="right" justify="center"
          ><b-form-input placeholder="ค้นหา"></b-form-input
        ></b-col>
        <b-col md="1" align="right" justify="center"
          ><b-button variant="outline-success" type="submit" class="m-1"
            >ค้นหา</b-button
          >
        </b-col>
      </b-row>
    </b-container>

    <br /><br />
    <!-- <div class="text-start">
      <b-table striped hover :items="items">

      </b-table>
    </div> -->

    <b-table striped hover :items="requestItems" :fields="fields">
      <template #cell(startDate)="{ item }">
        {{
          new Date(item.startDate).toLocaleDateString('th', {
            hour12: false
          })
        }}

        {{
          new Date(item.startDate).toLocaleTimeString('th', {
            hour12: false
          })
        }}
      </template>

      <template #cell(endDate)="{ item }">
        {{
          new Date(item.endDate).toLocaleDateString('th', {
            hour12: false
          })
        }}

        {{
          new Date(item.endDate).toLocaleTimeString('th', {
            hour12: false
          })
        }}
      </template>

      <template #cell(operators)="{ item }">
        <b-button

          variant="outline-secondary"
          class="m-1"
          :to="`/detailreport/${item._id}`"
          >รายละเอียด</b-button
        >
      </template>
    </b-table>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  methods: {
    getRequests () {
      axios.get('http://localhost:3000/requests/').then(
        function (response) {
          console.log('response detail room', response.data)
          this.requestItems = response.data
          this.selected = response.data.additional
          this.startDate = new Date(response.data.startDate)
          this.startTime = new Date(this.startDate).toLocaleTimeString('th', {
            hour12: false
          })
          this.endDate = new Date(response.data.endDate)
          this.endTime = new Date(this.endDate).toLocaleTimeString('th', {
            hour12: false
          })
          this.reason = response.data.reason
          this.additionalOther = response.data.additionalOther
        }.bind(this)
      )
    },
    editRequest (item) {
      console.log('item ', item)
      this.selectedItem = item
    }
  },
  mounted () {
    this.getRequests()
  },
  data () {
    return {
      requestItems: [],
      // items: [
      //   {
      //     id: 1,
      //     startdate: '09:00 12-03-2565',
      //     enddate: '10:00 12-03-2565',
      //     nameuse: 'นางวนารี ศรีสมพร',
      //     approver: 'นายเมธี ถาวร',
      //     codeBuild: 'IF',
      //     nameBuild: 'อาคารวิทยาการสารสนเทศ',
      //     roomcode: 'IF-3C01',
      //     branch: 'บางแสน',
      //     institution: 'วิทยาการสารสนเทศ',
      //     name: 'นายกร โชติ',
      //     tel: '081-1223344'
      //   },
      //   {
      //     id: 2,
      //     startdate: '13:00 21-03-2565',
      //     enddate: '15:00 12-03-2565',
      //     nameuse: 'นายสากร ร่าเริงดี',
      //     approver: 'นายเมธี ถาวร',
      //     codeBuild: 'IF',
      //     nameBuild: 'อาคารวิทยาการสารสนเทศ',
      //     roomcode: 'IF-11M280',
      //     branch: 'บางแสน',
      //     institution: 'วิทยาการสารสนเทศ',
      //     name: 'นางเมษา มาตี',
      //     tel: '081-9878898'
      //   }
      // ],
      fields: [
        { key: '_id', label: 'ลำดับ' },
        { key: 'startDate', label: 'เวลาเริ่ม' },
        { key: 'endDate', label: 'เวลาจบ' },
        { key: 'nameRequester', label: 'ชื่อผู้ใช้' },
        // { key: 'institution', label: 'หน่วยงาน' },
        // { key: 'codeBuild', label: 'รหัส' },
        //  { key: 'nameBuild', label: 'ชื่อตึก' },
        { key: 'rooms', label: 'ห้อง' },
        // { key: 'branch', label: 'สาขา' },
        // { key: 'name', label: 'ชื่อ-นามสกุล' },
        // { key: 'tel', label: 'เบอร์โทรศัพท์' },
        // { key: 'approver', label: 'ผู้อนุมัติ' },
        { key: 'operators', label: 'กระบวนการ' }
      ]
    }
  }
}
</script>
<style>

</style>
