<template>
<Auth>
  <div>
    <br /><br />

    <b-container class="bv-example-row bv-example-row-flex-cols">
      <b-col class="d-flex justify-content-start" cols="7" align-self="end"
        ><h1>รายการคำร้องจองห้อง</h1></b-col
      >
    </b-container>

    <br /><br />
    <!-- {{ requestItems}} -->
    <!-- {{ selectedItem._id }} -->
    <!-- :to="`/detailrequestlist/${selectedItem._id}`" -->
    <b-table striped hover :items="requestItems" :fields="fields">

<template v-slot:cell(status)="{ value }">
    <span :class="{ 'text-red': value === 'ไม่อนุมัติ', 'text-green': value === 'อนุมัติ' , 'text-yellow': value === 'รออนุมัติ' }">
      {{ value }}
    </span>
  </template>

      <template #cell(operators)="{ item }">
        <b-button
          @click="editRequest(item)"
          :to="`/detailrequestlist/${item._id}`"
          variant="outline-secondary"
          >ดูรายละเอียด</b-button
        >
      </template>
    </b-table>
  </div>
  </Auth>
</template>
<script>
import axios from 'axios'
import Auth from '../components/Auth.vue'

export default {

  components: {
    Auth
  },
  methods: {
    getRequests () {
      axios.get('http://localhost:3000/requests').then(
        function (response) {
          console.log('response detail room', response.data)
          this.requestItems = response.data
        }.bind(this)
      )
    },
    editRequest (item) {
      console.log('item ', item)
      this.selectedItem = item
    }
  },
  mounted () {
    this.getRequests()
  },

  data () {
    return {
      fields: [
        { key: '_id', label: 'ลำดับ' },
        { key: 'rooms', label: 'ห้อง' },
        { key: 'nameRequester', label: 'ชื่อ' },
        { key: 'status', label: 'สถานะ' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      requestItems: [],
      selectedItem: ''

    }
  }
}
</script>
<style>
.text-red {
  color: rgb(255, 114, 89);
}
.text-green {
  color: rgb(0, 187, 0);
}
.text-yellow {
  color: rgb(0, 178, 238);
}
</style>
