<template>
  <div>
    <b-button @click="addNew()" variant="outline-primary" class="m-1"
      >เพิ่ม</b-button
    >

    <b-modal
      id="modal-build"
      ref="modalBuild"
      title="สินค้า"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop.prevent="reset">
        <b-form-group
          id="form-group-build-nameRoom"
          label="รหัส"
          label-for="build-nameRoom"
        >
          <b-form-input
            type="text"
            id="build-nameRoom"
            placeholder="รหัสห้อง"
            v-model="form.nameRoom"
            :state="validatenameRoom"
            autofocus
          ></b-form-input>
          <b-form-invalid-feedback :state="validatenameRoom"
            >กรุณาใส่รหัสห้อง
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group
          id="form-group-build-detail"
          label="รายละเอียดห้อง"
          label-for="build-detail"
        >
          <b-form-input
            type="text"
            id="build-detail"
            placeholder="รายละเอียด"
            v-model="form.detail"
            :state="validatedetail"
            autofocus
          ></b-form-input>
          <b-form-invalid-feedback :state="validatedetail"
            >กรุณาใส่รายละเอียดห้อง
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group
          id="form-group-build-building"
          label="ตึก"
          label-for="form-group-build-building"
        >
          <b-form-input
            type="text"
            id="form-group-build-building"
            placeholder="ตึก"
            v-model="form.building"
            :state="validatebuilding"
          ></b-form-input>
          <b-form-invalid-feedback :state="validatebuilding"
            >กรุณาใส่ตึก
          </b-form-invalid-feedback>
        </b-form-group>

      </b-form>
      <b-card>
        <pre>
        {{ form }}
      </pre
        >
      </b-card>
    </b-modal>
  </div>
</template>
<script>
export default {
  props: {
    build: Object
  },
  data () {
    return {
      form: {
        _id: '',
        nameRoom: '',
        detail: '',
        // amountRooms: '',
        building: ''
      },
      isAddNew: false
    }
  },
  computed: {
    validatenameRoom () {
      return this.form.nameRoom.length >= 1
    },
    validatedetail () {
      return this.form.detail.length >= 1
    },
    validateForm () {
      return (
        this.validatedetail && this.validatenameRoom && this.validatebuilding
      )
    },
    validatebuilding () {
      return this.form.building.length >= 1
    }
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalBuild.show()
    },
    submit () {
      console.log('Submit Form', this.form)
      const build = JSON.parse(JSON.stringify(this.form))
      this.$emit('save', build)
      this.reset()
    },
    reset () {
      this.form = {
        _id: '',
        nameRoom: '',
        detail: '',
        building: ''
      }
    },
    resetModal (evt) {
      this.reset()
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        // edit
        this.form._id = this.build._id
        this.form.nameRoom = this.build.nameRoom
        this.form.detail = this.build.detail
        this.form.building = this.build.building
      }
    },
    handleModal (evt) {},
    handleOk (evt) {
      evt.preventDefault()
      if (!this.validateForm) return
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-build')
      })
    }
  }
}
</script>
<style></style>
