<template>
  <div>
    <br /><br />

    <b-container class="bv-example-row bv-example-row-flex-cols">
      <b-row>
        <b-col class="d-flex justify-content-start" cols="7" align-self="end"
          ><h1>เลือกห้อง</h1></b-col
        >
        <b-col cols="12" md="4"
          ><b-form-input placeholder="ค้นหา"></b-form-input
        ></b-col>
        <b-col cols="1"
          ><b-button variant="outline-success" type="submit"
            >ค้นหา</b-button
          ></b-col
        >
      </b-row>
    </b-container>

    <br /><br />

{{ selectedItem }}

    <b-table striped hover :items="roomItems" :fields="fields">
      <template #cell(img)="{ item }">
        <b-img
          v-bind="mainProps"
          rounded
          alt="Rounded image"
          @click="editProduct(item)"
        ></b-img>
      </template>
      <template #cell(operators)="{ item }">
        <b-button @click="editRoom(item)" :to="`/detailsroom/${item._id}`" variant="outline-primary"
          >รายละเอียด</b-button
        >
      </template>
    </b-table>
  </div>
</template>
<script>
import axios from 'axios'
export default {

  methods: {
    getRooms () {
      axios.get('http://localhost:3000/rooms/' + this.$route.params.id).then(
        function (response) {
          console.log('response ', response.data)
          this.roomItems = response.data
        }.bind(this)
      )
    },
    editRoom (item) {
      console.log('item ', item)
      this.selectedItem = item
    }

  },
  data () {
    return {
      // items: [
      //   {
      //     id: 1,
      //     roomname: 'IF-3C01',
      //     detail: 'จำนวนที่นั่ง 60 ที่นั่ง, ระบบเครื่องเสียง, โปรเจคเตอร์, ไมค์'
      //   },
      //   {
      //     id: 2,
      //     roomname: 'IF-3C02',
      //     detail: 'จำนวนที่นั่ง 60 ที่นั่ง, ระบบเครื่องเสียง, โปรเจคเตอร์, ไมค์'
      //   },
      //   {
      //     id: 3,
      //     roomname: 'IF-3C03',
      //     detail: 'จำนวนที่นั่ง 60 ที่นั่ง, ระบบเครื่องเสียง, โปรเจคเตอร์, ไมค์'
      //   }
      // ],
      fields: [
        { key: 'img', label: 'img' },
        { key: '_id', label: 'id' },
        { key: 'nameRoom', label: 'ชื่อ' },
        { key: 'detail', label: 'รายละเอียด' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      roomItems: [],

      selectedItem: null,
      mainProps: {
        blank: true,
        blankColor: '#777',
        width: 100,
        height: 100,
        class: 'm1'
      }

    }
  },
  mounted () {
    this.getRooms()
  }
}
</script>
<style></style>
