<template>
  <div>
    <br /><br />
    <!-- <b-form inline>
      <h1>เลือกตึก</h1>
      <b-form-input class="mr-sm-2" placeholder="Search"></b-form-input>
      <b-button variant="outline-success" class="my-2 my-sm-0" type="submit"
        >Search</b-button
      >
    </b-form > -->
    <b-container class="bv-example-row bv-example-row-flex-cols">
      <b-row>
        <b-col class="d-flex justify-content-start" cols="7" align-self="end"
          ><h1>เลือกตึก</h1></b-col
        >

        <b-col cols="12" md="4"
          ><b-form-input placeholder="ค้นหา"></b-form-input
        ></b-col>
        <b-col cols="1"
          ><b-button variant="outline-success" type="submit"
            >ค้นหา</b-button
          ></b-col
        >
        <!-- <b-col></b-col> -->
      </b-row>
    </b-container>

    <br /><br />
    <!-- <div class="text-start">
      <b-table striped hover :items="items">

      </b-table>
    </div> -->
    <!-- {{ selectedItem }}

    {{ itemSelect._id }} -->

    <!-- v-for="(catalog, itemObjKey) in catalogs">this index : {{itemObjKey + 1}} -->
    <b-table striped hover :items="buildItems" :fields="fields">

      <template #cell(operators)="{ item }">
        <b-button
          @click="editBuild(item)"
          :to="`/selectroom/${item._id}`"
          variant="outline-primary"
          >เลือก</b-button
        >
      </template>
    </b-table>
  </div>
</template>
<script>
import axios from 'axios'

export default {
  methods: {
    getBuilds () {
      axios.get('http://localhost:3000/builds/').then(
        function (response) {
          console.log(response)
          this.buildItems = response.data
        }.bind(this)
      )
    },
    editBuild (item) {
      console.log('item Building ', item)
      this.selectedItem = item
      this.itemSelect = item
      console.log('itemSelect Building ', this.itemSelect)
      axios.get('http://localhost:3000/builds/' + item._id).then(
        function (response) {
          console.log('item id get id', response.data)
          this.buildItems = response.data
        }.bind(this)
      )
    }
  },
  data () {
    return {
      itemSelect: '',

      //
      fields: [
        // { key: '_id', label: 'ลำดับ' },
        { key: 'codeBuild', label: 'รหัส' },
        { key: 'nameBuild', label: 'ชื่อตึก' },
        { key: 'amountRooms', label: 'จำนวนห้อง' },
        { key: 'branch', label: 'สาขา' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      buildItems: [],

      selectedItem: null
    }
  },
  mounted () {
    this.getBuilds()
  }
}
</script>
<style></style>
