<template>
  <div>
    <br /><br />

    <b-container class="bv-example-row bv-example-row-flex-cols">
      <b-row>
        <b-col class="d-flex justify-content-start" cols="7" align-self="end"
          ><h1>รายการจองห้อง</h1></b-col
        >
      </b-row>
    </b-container>

    <br /><br />

    <b-table striped hover :items="requestItems" :fields="fields">
      <template #cell(startDate)="{ item }">
        {{ new Date(item.startDate).toLocaleDateString('th')  }}
      </template>

      <template #cell(endDate)="{ item }">
        {{ new Date(item.endDate).toLocaleDateString('th')  }}
      </template>

      <template #cell(startTime)="{ item }">
        {{
          new Date(item.startDate).toLocaleTimeString('th', {
            hour12: false
          })
        }}
      </template>

      <template #cell(endTime)="{ item }">
        {{
          new Date(item.endDate).toLocaleTimeString('th', {
            hour12: false
          })
        }}
      </template>

      <template v-slot:cell(status)="{ value }">
        <span
          :class="{
            'text-red': value === 'ไม่อนุมัติ',
            'text-green': value === 'อนุมัติ',
            'text-yellow': value === 'รออนุมัติ'
          }"
        >
          {{ value }}
        </span>
      </template>
      <!-- <template #cell(operators)="{ item }">
        <b-button @click="editProduct(item)" variant="outline-primary">เลือก</b-button>
      </template> -->
    </b-table>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  methods: {
    getRequests () {
      axios.get('http://localhost:3000/requests/').then(
        function (response) {
          console.log('response detail room', response.data)
          this.requestItems = response.data
          this.selected = response.data.additional
          this.startDate = new Date(
            response.data.startDate
          ).toLocaleDateString()
          this.startTime = new Date(this.startDate).toLocaleTimeString('th', {
            hour12: false
          })
          this.endDate = new Date(response.data.endDate)
          this.endTime = new Date(this.endDate).toLocaleTimeString('th', {
            hour12: false
          })
          this.reason = response.data.reason
        }.bind(this)
      )
    },
    editRequest (item) {
      console.log('item ', item)
      this.selectedItem = item
    }
  },
  mounted () {
    this.getRequests()
  },
  data () {
    return {
      requestItems: [],
      nameRequester: '',
      selected: [],
      startDate: '',
      endDate: '',
      startTime: '',
      endTime: '',
      status: '',
      reason: '',
      // items: [
      //   {
      //     id: 1,
      //     roomname: 'IF-3C01',
      //     day: '27 ธันวาคม 2564',
      //     starttime: '12:00 น.',
      //     endtime: '13:00 น.',
      //     status: 'รออนุมัติ'
      //   },
      //   {
      //     id: 2,
      //     roomname: 'ห้องเรียน 22',
      //     day: '18 พฤษจิกายน 2564',
      //     starttime: '14:00 น.',
      //     endtime: '16:00 น.',
      //     status: 'อนุมัติ'
      //   }
      // ],
      fields: [
        { key: '_id', label: 'id' },
        { key: 'rooms', label: 'ชื่อห้อง' },
        { key: 'nameRequester', label: 'ชื่อผู้ขอจอง' },
        { key: 'startDate', label: 'วันที่เริ่ม' },
        { key: 'startTime', label: 'เวลาเริ่ม' },
        { key: 'endDate', label: 'วันสิ้นสุด' },
        { key: 'endTime', label: 'เวลาสุด' },
        // { key: 'endTime', label: 'endtime' },
        { key: 'status', label: 'status' }
      ]
    }
  }
}
</script>
<style>
.text-red {
  color: rgb(255, 114, 89);
}
.text-green {
  color: rgb(0, 187, 0);
}
.text-yellow {
  color: rgb(0, 178, 238);
}
</style>
