<template >
<div v-if="isLogin">
    <b-button variant="outline-dark" v-b-toggle.sidebar-1>เมนู</b-button>
    <b-sidebar id="sidebar-1" title="เมนู" shadow>
      <div class="px-3 py-2">
        <b-img
      src="https://www.lib.buu.ac.th/web/wp-content/uploads/2020/01/Buu-logo11.png"
      width="90%"
      center
      class="pt-2 pb-2"
    ></b-img>
    <b-nav vertical>
      <b-nav-item to="/mainpage">หน้าหลัก</b-nav-item>
      <b-nav-item to="/selectbuilding">จองห้อง</b-nav-item>
      <b-nav-item to="/statusbooking">สถานะการจอง</b-nav-item>
      <b-nav-item to="/requestlist" v-if="user.roles.length >= 2" >พิจารณาการจอง</b-nav-item>

      <b-nav-item @click="showFormInput = !showFormInput" v-if="user.roles.length >= 2"
        >การจัดการ<b-icon
          :icon="showFormInput ? 'caret-down' : 'caret-right'"
        ></b-icon
      ></b-nav-item>
      <!-- user.roles != ['ADMIN','USER'] v-if="user.roles.length >= 2"-->
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./buildingmanagement"
        >จัดการข้อมูลตึก</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput"  to="./membermanagement"
        >จัดการข้อมูลสมาชิก</b-nav-item
      >
      <!-- <b-nav-item class="sub-menu" v-if="showFormInput" to="./adminmanagement"
        >จัดการข้อมูล Admin หน่วยงาน</b-nav-item
      > -->
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./institutionmanagement"
        >จัดการข้อมูลหน่วยงาน</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./reportusageroomsmain"
        >รายงานการใช้ห้อง</b-nav-item
      >

      <b-nav-item class="sub-menu" v-if="showFormInput" to="./formInput2"
        >--- Admin หน่วยงาน ---</b-nav-item
      >

      <b-nav-item class="sub-menu" v-if="showFormInput" to="./internalmanagement"
        >จัดการบุคลากรภายในหน่วยงาน</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./roommanagement"
        >จัดการข้อมูลห้อง</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./approvedordermanagement"
        >จัดการลำดับการพิจารณา</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./reportusageroomsmain"
        >รายงานการใช้ห้อง</b-nav-item
      >
    </b-nav>

    </div>
    </b-sidebar>
  </div>

  <!-- <div class="app-menu min-vh-100" style="width: 300px;">
    <b-img
      src="https://www.lib.buu.ac.th/web/wp-content/uploads/2020/01/Buu-logo11.png"
      width="90%"
      center
      class="pt-2 pb-2"
    ></b-img>
    <b-nav vertical>
      <b-nav-item to="/mainpage">หน้าหลัก</b-nav-item>
      <b-nav-item to="/mainpage">จองห้อง</b-nav-item>
      <b-nav-item to="/mainpage">สถานะการจอง</b-nav-item>

      <b-nav-item @click="showFormInput = !showFormInput"
        >การจัดการ<b-icon
          :icon="showFormInput ? 'caret-down' : 'caret-right'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./formInput1"
        >จัดการข้อมูลตึก</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./formInput2"
        >จัดการข้อมูลสมาชิก</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./formInput2"
        >จัดการข้อมูล Admin หน่วยงาน</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./formInput2"
        >จัดการข้อมูลหน่วยงาน</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./formInput2"
        >รายงานการใช้ห้อง</b-nav-item
      >

      <b-nav-item class="sub-menu" v-if="showFormInput" to="./formInput2"
        >--- Admin หน่วยงาน ---</b-nav-item
      >

      <b-nav-item class="sub-menu" v-if="showFormInput" to="./formInput2"
        >จัดการบุคลากรภายในหน่วยงาน</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./formInput2"
        >จัดการข้อมูลห้อง</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./formInput2"
        >จัดการลำดับการพิจารณา</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./formInput2"
        >รายงานการใช้ห้อง</b-nav-item
      >
    </b-nav>
  </div> -->
</template>
<script>
export default {
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }

  },

  data () {
    return {
      showCrudExample: false,
      showFormInput: false,
      showForm: false,
      user: JSON.parse(localStorage.getItem('user'))
    }
  }

}
</script>
<style>
.app-menu {
  background-color: #f5eeee;
  font-size: 13pt;
}
.sub-menu {
  padding-left: 15pt;
}
.nav-link {
  color: black;
  text-align: left;
}
.nav-link:hover {
  color: gold;
}
</style>
