<template>
  <div>
    <b-navbar>
      <!-- variant="dark" type="dark" -->
      <b-navbar-nav>
        <div class="w-25 p-3"></div>
        <b-navbar>
          <Menu />
        </b-navbar>

        <div class="w-25 p-3"></div>

        <b-navbar v-if="isLogin">
          <b-navbar-brand to="/mainpage">หน้าหลัก</b-navbar-brand>
        </b-navbar>

        <b-navbar v-if="isLogin">
          <b-nav-item-dropdown text="User">
            <b-dropdown-item href="#">โปรไฟล์</b-dropdown-item>
            <b-dropdown-item @click="logout()" v-if="isLogin"
              >ออกจากระบบ
            </b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>

<style></style>

<script>
import Menu from './Menu'
export default {

  components: {
    Menu
  },

  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  },
  methods: {

    //   logout () {
    //     localStorage.removeItem('token')
    //     localStorage.removeItem('user')

    //     this.$store.dispatch('auth/logout')
    //     this.$router.push('/').catch(() => {})
    //   }
    // }
    // methods: {
    logout () {
      this.$store.dispatch('auth/logout')

      // ถ้ากดปุ่ม logout ไปที่หน้า login เพิ่ม .catch(() => {})
      this.$router.push('/').catch(() => {})
    }

  }

}
</script>
<style></style>
