<template>
  <div id="app">
    <!-- <div id="nav"> -->
      <!-- <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/product">Product</router-link> |
      <router-link to="/calendar">Calendar</router-link> | -->

      <!-- <button @click="logout()" v-if="isLogin">Logout</button> -->

    <!-- </div> -->

    <b-container >
      <!-- fluid -->
      <b-row>
        <!-- <b-col cols="2" class="app-min-vh-100"> <Menu/> </b-col> -->
        <b-col>
          <!-- <b-container> -->
            <b-row>
              <b-col>
                <NavBar/>
              </b-col>
            </b-row>
            <b-row class="text-justify">
              <b-col><router-view /> </b-col>
            </b-row>
          <!-- </b-container> -->
        </b-col>
      </b-row>
    </b-container>

  </div>
</template>

<script>
import NavBar from '../src/components/NavBar.vue'
// import Menu from '../src/components/Menu.vue'

export default {
  components: {

    // Menu
    //,
    NavBar
  },
  data () {
    return {}
  },

  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('auth/logout')

      // ถ้ากดปุ่ม logout ไปที่หน้า login
      this.$router.push('/')
    }
  }

}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
